################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/MyMiddleWare/bin/Debug/net5.0
/MyMiddleWare/obj
